/* Could replace this CSS file with CSS in JS styles based on
an array of colours and ID as prop
https://stackoverflow.com/questions/49709968/wants-to-change-the-color-of-div-in-react
*/

.bg {
    position: fixed;
    width: 100%;
}

.top, .middle {
    height: 25vh;
}

.gradient .main {
    height: 50vh;
}

.plain .main {
    height: 100vh;
}

/* ---- Day sun ---- */

.yellow > .top {
    background: #FCD790;
}

.yellow > .middle {
    background: #FFDB95;
}

.yellow > .main {
    background: #FEDE9B;
}

/* ---- Blue ---- */

.blue > .top {
    background: #BBD7E8;
}

.blue > .middle {
    background: #C1DAE3;
}

.blue > .main {
    background: #C5DCE4;
}

/* ---- Day Grey ---- */

.grey > .top {
    background: #EBEBEB;
}

.grey > .middle {
    background: #F0F0F0;
}

.grey > .main {
    background: #F5F5F5;
}

/* ---- Night ---- */

.purple > .top {
    background: #161459;
}

.purple > .middle {
    background: #1E1C62;
}

.purple > .main {
    background: #212062;
}

/* ---- Night haze ---- */

.purple-haze .top {
    background: #424079;
}

.purple-haze .middle {
    background: #484780;
}

.purple-haze .main {
    background: #4B4A80;
}

/* ---- Sunset ---- */

.orange > .top {
    background: #FF9671;
}

.orange > .middle {
    background: #FB9E7D;
}

.orange > .main {
    background: #F6A487;
}