/* Could replace this CSS file with CSS in JS styles based on
an array of colours and ID as prop
https://stackoverflow.com/questions/49709968/wants-to-change-the-color-of-div-in-react
*/

.Background {
    position: fixed;
    width: 100%;
}

.top, .middle {
    height: 25vh;
}

.gradient .main {
    height: 50vh;
}

.plain .main {
    height: 100vh;
}

/* ---- Yellow ---- */

.yellow > .top {
    background: #FED789;
}

.yellow > .middle {
    background: #FEDB95;
}

.yellow > .main {
    background: #FEDFA1;
}

/* ---- Blue ---- */

.blue > .top {
    background: #B1D5E1;
}

.blue > .middle {
    background: #B9D9E4;
}

.blue > .main {
    background: #C1DDE7;
}

/* ---- Grey ---- */

.grey > .top {
    background: #EBEBEB;
}

.grey > .middle {
    background: #F0F0F0;
}

.grey > .main {
    background: #F5F5F5;
}

/* ---- Earth ---- */

.earth > .main {
    background: #F4E1D4;
}

/* ---- Night ---- */

.purple > .top {
    background: #161459;
}

.purple > .middle {
    background: #1E1C62;
}

.purple > .main {
    background: #212062;
}

/* ---- Night haze ---- */

.purple-haze .top {
    background: #424079;
}

.purple-haze .middle {
    background: #484780;
}

.purple-haze .main {
    background: #4B4A80;
}

/* ---- Sunset ---- */

.orange > .top {
    background: #FF9671;
}

.orange > .middle {
    background: #FB9E7D;
}

.orange > .main {
    background: #F6A487;
}

/* ---- Sunset haze ---- */

.orange-haze > .top {
    background: #F5C0AE;
}

.orange-haze > .middle {
    background: #F5C7B7;
}

.orange-haze > .main {
    background: #F4CDBE;
}