.Graphic {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: fixed;
}

.Graphic > svg {
    width: auto;
}

.Clouds-1, .Clouds-2, .Clouds-3 {
    grid-row: 1 / 5;
    grid-column: 12;
    z-index: 1;
    justify-self: end;
    align-self: end;
}

.Clouds-2 {
    height: 100%;
    transform: translateX(10%);
}

.Clouds-3 {
    height: 120%;
    transform: translate(40%, 0);
}

.Precipitation {
    height: 100%;
    z-index: 1;
    grid-row: 5 / 8;
    grid-column: 12;
    justify-self: end;
    align-self: end;
}

.Lightning {
    height: 100%;
    grid-row: 3 / 7;
    grid-column: 12;
    justify-self: end;
    z-index: 2;
    transform: translateX(-16px);
}

.Sun.day {
    grid-row: 1 / span 4;
    grid-column: 12;
    justify-self: end;
    transform: translate(40%, -40%);
}

.Sun.sunset {
    grid-row: 9 / span 4;
    grid-column: 12;
    justify-self: end;
    transform: translate(40%, 40%);
}

.Moon {
    grid-row: 2 / span 2;
    grid-column: 11;
    justify-self: end;
}

.Sun.sunset > circle {
    fill: #F1787B;
}

svg.tornado {
    grid-row: 1 / -2;
    grid-column-start: -3;
    justify-self: center;
}

svg.volcano {
    grid-row: 1 / -1;
    grid-column-start: 12;
    justify-self: end;
    height: 100%;
}