.Info {
    width: 100%;
    max-width: 300px;
    position: absolute;
    bottom: 0;
    padding: 40px;
}

.temp {
    font-family: 'SF Mono Light', 'Courier New', Courier, monospace;
    font-size: 72px;
    margin-bottom: 4px;
}

.description {
    margin-bottom: 4px;
}

/* ---- Text blur ---- */

.text-blur {
    filter: blur(1.5px);
}

/* ---- Text whoosh ---- */

.text-whoosh > .description > span {
    display: inline-flex;
    margin-right: 2px;
}

.text-whoosh > .description > span:nth-child(4n+0) {
    transform: rotate(11deg) translateY(-3px);
}

.text-whoosh > .description > span:nth-child(4n+1) {
    transform: rotate(-10deg) translateY(2px);
}

.text-whoosh > .description > span:nth-child(4n+2) {
    transform: rotate(8deg) translateY(5px);
}

.text-whoosh > .description > span:nth-child(4n+3) {
    transform: rotate(4deg) translateY(1px);
}

/* ---- Text colours ---- */

.Info.text-orange {
    color: #D15822;
}

.Info.text-blue {
    color: #1B6187;
}

.Info.text-brown {
    color: #935435;
}

.Info.text-grey {
    color: #595959;
}

.Info.text-white {
    color: #FFFFFF;
}